@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    align-content: center;
    background-color: rgb(206, 165, 112);
}

.contenedor .cartones {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 250px;
    text-align: center;
    margin: 10px;
    padding: 5px
}

.cartones:hover{
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.10s ease-in;
    background-color: rgb(186, 147, 95);
    border-radius: 4px;
}

.genero{
    color:rgba(48, 23, 48, 0.59);
    font-size:medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.foto {
    border-radius: 5px;
}

.nombre {
    max-width: 250px;
    font-family:'Press Start 2P' , cursive;
    font-size:medium;
    text-transform: uppercase;
    color: rgb(192, 12, 12);
}

.rating{
    color:rgba(90, 16, 90, 0.604);
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}