.fondiu{
    background:burlywood;
    background-position: center center;
    height: 657px;
}

.detail{
    display: block;
    position: absolute;
    margin: 30px;
    left: 31px;
    top: 20px;
    padding: 2.5em 5em;
    font-family: helvetica neue, helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: black;
    cursor: default;
    background: rgb(206, 165, 112);
    border: none;
    border-radius: 0.3em;
    height: 500px;
    width: 375px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.10s ease-in;
}

.detail:hover{
    transition: all 0.17s ease-in;
    box-shadow: 1px 2px 8px rgb(238, 84, 84);
}

.titleDetails{
    position: relative;
    display: block;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: center;
    align-content: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(192, 12, 12);
    bottom: 20px;
}

.imgDetails{
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 230px;
    border-radius: 10px;
    bottom: 5px;
    left: 98px;
    top: 80px;
}

.aboDetails{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    white-space: initial !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    line-height: 1.4em;
    width: 500px;
    height: 500px;
    text-align:justify;
    margin-left: 320px;
    top:-1px;
    left: 420px;
}


.pDetails{
    position: absolute;
    border: none;
    padding: 4px;
    padding-bottom: 1px;
    padding-top: 25px;
    border-radius: 0.3em;
    background: rgb(206, 165, 112);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.10s ease-in;

}

.pDetails:hover{
    transition: all 0.17s ease-in;
    box-shadow: 1px 2px 8px rgb(238, 84, 84);
}

.pDetailsTitle{
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    top: -8px;
    font-size:x-small;
    left: 181px;
    color: rgb(192, 12, 12);
}

.relDetails{
    position:absolute;
    top: 380px;
    left: 305px;
}

.relDetailsTitle{
    position:absolute;
    bottom: 5px;
    right: -20px;
    color: rgb(146, 18, 18);
    font-size: small;
    font-family: 'Press Start 2P', cursive;
}

.ratDetails{
    position:absolute;
    top: 380px;
    left: 121px;
}

.ratDetailsTitle{
    position:absolute;
    left: -23px;
    bottom: 17px;
    color: rgb(146, 18, 18);
    font-size: small;
    font-family: 'Press Start 2P', cursive;
}


.genDetails{
    position:absolute;
    top: 440px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.genDetailsTitle{
    position:absolute;
    color: rgb(146, 18, 18);
    font-size: small;
    font-family: 'Press Start 2P', cursive;
    bottom: 0px;
    top: -43px;
    left: 0px;
    right: 0px;
}

.platDetails{
    position:absolute;
    top: 510px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.platDetailsTitle{
    position:absolute;
    color: rgb(146, 18, 18);
    font-size: small;
    font-family: 'Press Start 2P', cursive;
    left: 5px;
    right: 0px;
    bottom: 0px;
    top: -43px;
    display: block;
}

.goBack{
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    left: 618px;
    top: 50px;
    width: 131px;
    height: 46px;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.17s ease-in;
    background-color: rgb(206, 165, 112);
    font-family: 'Press Start 2P', cursive;
    color: rgba(19, 18, 18, 0.891);
}

.goBack:hover{
    background-color: #bd7a6e7e;
    color: rgba(65, 35, 35, 0.891);
}