.fondiu{
    background:burlywood;
    background-position: center center;
    height: 657px;
}

.detail{
    display: block;
    position: absolute;
    margin: 30px;
    left: 31px;
    top: 20px;
    padding: 2.5em 5em;
    font-family: helvetica neue, helvetica, sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: black;
    cursor: default;
    background: rgb(206, 165, 112);
    border: 0.2em solid black;
    border-radius: 0.3em;
    height: 500px;
    width: 375px;
}

.titleDetails{
    position: relative;
    display: block;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: center;
    align-content: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(28, 6, 28);
    bottom: 20px;
}

.imgDetails{
    position: absolute;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 230px;
    border-radius: 10px;
    bottom: 5px;
    left: 98px;
    top: 80px;
}

.aboDetails{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    white-space: initial !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    line-height: 1.4em;
    width: 500px;
    height: 500px;
    text-align:justify;
    margin-left: 320px;
    top:-1px;
    left: 420px;
}


.pDetails{
    position: absolute;
    border: 0.2em solid black;
    padding: 4px;
    padding-bottom: 1px;
    padding-top: 25px;
    border-radius: 0.3em;
    background: rgb(206, 165, 112);

}

.pDetailsTitle{
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    top: 10px;
    font-size:x-small;
    left: 181px;
    color: rgb(28, 6, 28);
}

.relDetails{
    position:absolute;
    top: 330px;
    left: 241px;
}

.ratDetails{
    position:absolute;
    top: 330px;
    left: 121px;
}

.genDetails{
    position:absolute;
    display:flex;
    top: 400px;
    left: 131px;
}

.platDetails{
    position:absolute;
    top: 480px;
    left: 41px;
}

.showDescr{
    position: absolute;
    cursor: pointer;
    display: block;
    left: 555px;
    top: 150px;
    width: 131px;
    height: 46px;
    border: 1px solid;
    border-radius: 5px;
}

.showDescr:hover{
    background-color: burlywood;
}

.goBack{
    position: absolute;
    display: block;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    font-size: 25px;
    left: 618px;
    top: 50px;
    width: 131px;
    height: 46px;
}

.goBack:hover{
    background-color: burlywood;
}