@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.back_image{
    background:burlywood;
    
}

.create {
    border-radius: 4px;
    position: absolute;
    top: 90px;
    right: 25px;
    font-family: "Noto Sans", sans-serif;
    background: rgb(206, 165, 112);
    height: 31px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 250px;
    color: rgb(63, 55, 55);
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.17s ease-in;
}

.create:hover{
    background-color: #a0402d7e;
    color: #082032;
}

.toHome{
    position: absolute;
    border: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    right: 250px;
    letter-spacing: 5px;
    cursor: pointer;
    background-color: rgb(206, 165, 112);
    top: 30px;
    border-radius: 4px;
    display: block;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.17s ease-in;
}

.toHome:hover{
    background-color: #bd7a6e7e;
    color: #082032;
}

.titulaso{
    position: absolute;
    display: flex;
    left: 130px;
    font-family:'Press Start 2P', cursive;
    font-size: 30px;
    top: 30px;
    color: rgb(63, 55, 55);
}